.setting {
  width: 100%;
  header {
    text-align: center;
    background-color: #2593fc;
    height: .6rem;
    font-size: .3rem;
    color: white;
    line-height: .6rem;
    .goBack {
      float: left;
      color: white;
    }
  }
  .settingBox {
    width: 5rem;
    margin: 1rem auto;
  }
}
#root .login-form {
  max-width: 5rem;
}
#root .login-form-forgot {
  float: right;
}
#root .login-form-button {
  width: 100%;
  display: block;
}
