.balanceListBox {
  width: 94%;
  margin: 0 auto;
  .balanceShow {
    width: 100%;
    .desBox {
      width: 80%;
      float: left;
      overflow: hidden;
      p {
        margin-bottom: 0;
      }
      p:nth-of-type(2) {
        font-size: .26rem;
      }
    }
    .moneyBox {
      width: 20%;
      float: right;
      overflow: hidden;
      p {
        margin-bottom: 0;
        margin-top: .15rem;
        font-size: .3rem;
        color: red;
      }
    }
  }
}
